:root {
    --primary-color: #F1F6F9;
    --secondary-color: #14274E;
    --tertiary-color: #394867;
    --quaternary-color: #9BA4B4;
    --quinary-color: #fff;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
}

/* Header-Nav Styles Start */
header {
    padding: 15px 25px;
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 2.5px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 13px;
}

header nav ul li a:hover {
    color: var(--secondary-color);
}
/* Header-Nav Styles End */