:root {
    --primary-color: #F1F6F9;
    --secondary-color: #14274E;
    --tertiary-color: #394867;
    --quaternary-color: #9BA4B4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}